html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Hubballi', cursive;
  background-color: #0B121E;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  margin:0 0 2rem 0;
}
h1 span {
  display: block;
}
.dos-columnas {
  display: grid;
  align-items: center;
}
.dos-columnas p {
  text-align: center;
  color: #FFF;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .dos-columnas {
    gap: 4rem;
  }
}
main {
  margin: 0 auto;
  max-width: 1200px;
}
 @media(min-width:768px) {
  main {
    margin: 4rem auto;
  }
 }
.contenedor {
  background-color: #202B3C;
  padding: 3rem;
  width: 100%;
}
@media(min-width:768px) {
  .contenedor {
    margin: 0 auto;
    border-radius: 1rem;
  }
}
form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;
  color: #fff;

}
.campo input,
.campo select {
  /** all: unset; **/
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: .6rem;
  padding: .5rem;
}
.alerta {
  color: red;
  text-align: center;
}

 input[type="submit"],
 input[type="button"] {
  background-color: #0294FE;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color .3s ease;
  border-radius: .6rem;
}
@media (min-width: 768px) {
   input[type="submit"],
   input[type="button"]  {
     max-width: 400px;
  }
}
 input[type="submit"]:hover,
 input[type="button"]:hover {
  background-color: #0363a7;  
  cursor: pointer;
}


/* Respuesta clima */
.clima {
  text-align: center;
  color: #fff;
  padding: 4.6rem 0;
}
.dia {
  background-color: #099A91;
}
.noche {
  background-color: #010524;
}
.clima > p:first-of-type {
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
}
.clima-descripcion p {
  font-weight: 300;
}
.clima-descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clima h2 {
  margin-top:0 ;
}
.clima p {
  margin: 0;
  font-weight: 600;
}
.clima p span,
.datos-pronostico p span {
font-size: 1.2rem;
vertical-align: super;
}
.temp-datos {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.heading-pronostico {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 3rem 2rem;
}
.pronostico {
  background-color: #202B3C;
  margin: 0 auto 3rem auto;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .pronostico {
    padding: 0 5rem;
  }
}
@media (min-width: 1200px) {
  .pronostico {
    width: 75rem;
    border-radius: 1rem;
  }
  
}
.datos-pronostico {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top:  1px solid #f1f5f9;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
}
.datos-pronostico:first-of-type {
  border-top: none;
}
.datos-pronostico p {
  margin: .2rem 0;
  text-align: center;
}
@media(min-width: 768px) {
  .datos-pronostico {
    flex-direction: row;
    padding: 0;
  }
}
.datos-pronostico img {
  width: 100px;
  height: auto;
}

/* Spinner */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #0ea5e9;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
